<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-center w-100">
        <li class="nav-item btn btn-outline-dark">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="text-white" routerLink="/students" >Home</a>
        </li>
        <li class="nav-item btn btn-outline-dark position-absolute end-0">
          <a class="nav-link" routerLinkActive="text-white" routerLink="/add" >Add</a>
      </ul>
    </div>
  </div>
</nav>
